## 리스트 vs 튜플 vs 딕셔너리

<center>

||형식|순서|변화|중복|
|---|---|:---:|:---:|:---:|
|**리스트**|```list = [1, 2]```|O|O|O|
|**튜플**|```tuple = (1, 2)```|O|X|O|
|**딕셔너리**|```dict = {1:'a', 2:'b'}```|X|O|key : X|

</center>

</br>

## 리스트 메서트 (List Methods)

### 요소 추가

`append(item)` : 리스트 끝에 요소를 추가합니다.

In [51]:
alpha = ['a', 'b', 'c']
print(alpha)
alpha.append('d')
print(alpha)

['a', 'b', 'c']
['a', 'b', 'c', 'd']

</br>

`insert(index, item)` : 지정한 위치에 요소를 추가합니다.

In [52]:
alpha.insert(2, 'insert')
print(alpha)

['a', 'b', 'insert', 'c', 'd']

</br>

`extend(iterable)` : 리스트를 확장하여 다른 이터러블의 모든 요소 추가

In [53]:
alpha.extend(['e', 'f', 'g', 'h'])
print(alpha)

['a', 'b', 'insert', 'c', 'd', 'e', 'f', 'g', 'h']


</br></br>

### 요소 제거

`remove(item)` : 첫 번째로 일치하는 요소를 제거

In [54]:
alpha.remove("insert")
print(alpha)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

</br>

`pop(index)` : 지정한 인덱스의 요소를 제거하고 반환합니다. </br>인덱스를 지정하지 않으면 마지막 요소를 제거합니다.

In [55]:
print(alpha.pop(0))
print(alpha)

a
['b', 'c', 'd', 'e', 'f', 'g', 'h']

</br>

`clear()` : 모든 요소를 제거합니다.

In [56]:
alpha.clear()
print(alpha)

[]

</br>

### 검색 및 카운트

`index(item)` : 요소의 인덱스를 반환합니다.

`count(item)` : 요소의 개수를 반환합니다.

In [57]:
alpha = ['a', 'b', 'c']
print(alpha.index('c'))


# alpha 리스트에서 'b'의 개수
print(alpha.count('b'))

2
1

</br>

### 정렬

`sort()` : 리스트를 오름차순으로 정렬합니다.

`reverse()` : 리스트의 요소의 순서를 반대로 뒤집습니다.

In [58]:
# 오름차순 정렬
numbers = [5, 2, 9, 1, 5, 6]
numbers.sort()
print(numbers)  # 출력: [1, 2, 5, 5, 6, 9]

# 역순(내림차순) 출력
numbers.sort(reverse=True)
print(numbers)  # 출력: [9, 6, 5, 5, 2, 1]


numbers.reverse()
print(numbers)  # 출력: [9, 6, 5, 5, 2, 1]

[1, 2, 5, 5, 6, 9]
[9, 6, 5, 5, 2, 1]
[1, 2, 5, 5, 6, 9]

### 리스트 연산

In [59]:
list1 = ['a', 'b', '|']
list2 = ['c', 'd']

# 리스트 연결
print(list1 + list2)

# 리스트 반복
print(list1 * 3)

['a', 'b', '|', 'c', 'd']
['a', 'b', '|', 'a', 'b', '|', 'a', 'b', '|']

</br>

## 리스트 컴프리헨션

```python
new_list = [expression for item in iterable]
```

In [60]:
#---------1부터 10까지의 숫자 중에서 짝수만 제곱하여 리스트 생성---------

# 리스트 컴프리헨션 사용
squares = [x**2 for x in range(1, 11) if x % 2 == 0]
print(squares)  # 출력: [4, 16, 36, 64, 100]

# 리스트 컴프리헨션 미사용
squares = []
for x in range(1, 11):
    if x % 2 == 0:
        squares.append(x**2)
print(squares)  # 출력: [4, 16, 36, 64, 100]

[4, 16, 36, 64, 100]
[4, 16, 36, 64, 100]

In [61]:
#-----------문자열 리스트에서 각 단어의 길이로 구성된 리스트 생성-----------

words = ['apple', 'banana', 'cherry']
lengths = [len(word) for word in words]
print(lengths)  # 출력: [5, 6, 6]

[5, 6, 6]

</br>

### 실습 문제 1 : 리스트 슬라이싱 & 메서드 콜라주

```cities = ["Seoul", "Busan", "Incheon", "Gwangju", "Daejeon"]```

- TODO 1) 리스트에서 가운데 3개 도시만 잘라 sub_cities 에 저장
- TODO 2) sub_cities 의 순서를 거꾸로 뒤집어 reversed_cities 에 저장
- TODO 3) reversed_cities 에 "Ulsan" 을 맨 뒤에 추가
- TODO 4) 최종 리스트를 출력

In [62]:
cities = ["Seoul", "Busan", "Incheon", "Gwangju", "Daejeon"]
sub_cities = []

# 1) 리스트에서 가운데 3개 도시만 잘라 sub_cities 에 저장
for i in range(len(cities)) :
    if i > 0 and i <4 :
        sub_cities.append(cities[i])
print(sub_cities)

# 2) sub_cities 의 순서를 거꾸로 뒤집어 reversed_cities 에 저장
sub_cities.reverse()  # reverse()는 리스트 자체를 제자리에서 뒤집기만 하고, 새로운 리스트를 반환하지 않음
reversed_cities = sub_cities

# 3) reversed_cities 에 "Ulsan" 을 맨 뒤에 추가
reversed_cities.append('Ulsan')

# 4) 최종 리스트를 출력
print(reversed_cities)

['Busan', 'Incheon', 'Gwangju']
['Gwangju', 'Incheon', 'Busan', 'Ulsan']

</br>

### 실습 문제 2 : 리스트 컴프리헨션으로 데이터 가공(반복문, 조건문 사용)

아래 조건을 만족하는 리스트를 한 줄의 리스트 컴프리헨션으로 생성해 보세요. </br>(먼저 리스트 컴프리헨션을 사용하지 않고 생성하고 그 내용을 리스트 컴프리헨션으로 바꿔보세요! )

1. 1부터 30 까지 정수 중
2. 3의 배수이면서 2의 배수가 **아닌** 숫자를 제곱해서 저장
3. 결과 리스트를 `result` 변수에 담고 출력

In [63]:
# 일반 반복/조건문
result = []
for i in range(1, 31) :
    if i % 2 != 0 and i % 3 == 0 :
        result.append(i**2)
print(result)

# 리스트 컴프리헨션
result2 = [i**2 for i in range(1,31) if i % 2 != 0 and i % 3 == 0 ]
print(result2)

[9, 81, 225, 441, 729]
[9, 81, 225, 441, 729]

</br>

### 실습 문제 3 : 리스트의 최대/최소와 평균 구하기

1. 사용자에게 정수 여러 개를 입력받아 리스트에 저장하세요. (예: `10 20 30 5 7`)
2. 리스트의 **최댓값, 최솟값, 평균**을 각각 구해 출력하세요.
   
힌트 : 리스트의 최대 값은 max(), 최소값은 min, 평균은 리스트의 합(sum()) 나누기 리스트의 길이(len) 입니다! 이해가 잘 안된다면 검색 ! 아시죠~?

In [64]:
l = list(map(int, input().split())) #<-- 여러개 입력을 리스트에 저장

print(l)

# l.max() <--X max()는 리스트의 메서드가 아님
M = max(l)
m = min(l)
avg = sum(l)/len(l)

print(f"최댓값 : {M}")
print(f"최소값 : {m}")
print(f"평균 : {avg}")

# 아니 이거하는데 이렇게 오래걸릴 거 있냐..
# 그냥 잠자코 강의를 들어라 진심..

[10, 20, 30, 5, 7]
최댓값 : 30
최소값 : 5
평균 : 14.4

</br></br>

## 튜플 메서드 (Tuple Methods)

### 튜플 생성

In [65]:
# 괄호 사용 생성
numbers = (1, 2, 3)

# 괄호 미사용 생성
numbers2 = 1, 2, 3

# 단일 요소 튜플 생성
single_element = (5,)   # 쉼표가 없으면 일반 값으로 인식

print(numbers, type(numbers))
print(numbers2, type(numbers2))

(1, 2, 3) <class 'tuple'>
(1, 2, 3) <class 'tuple'>

```count(item)``` : 튜플에서 특정 요소의 개수를 반환합니다.

In [66]:
num = (1,2,3,4,5)
print(num.count(3)) # 튜플 내 3의 개수

1


```index(item)``` : 튜플에서 첫 번째로 일치하는 요소의 인덱스를 반환합니다.

In [67]:
fruits = ('apple', 'banana', 'cherry')
print(fruits.index('banana'))

1

</br>

### 튜플의 정렬

힌트 : ```sorted(정렬할 대상, 정렬 기준, reverse=True/False)```

In [68]:
students = [('John', 'A', 15), ('Jane', 'B', 12), ('Dave', 'A', 10)]

# 나이를 기준으로 정렬
students_sorted = sorted(students, key=lambda student: student[2])
print(students_sorted)
# 출력: [('Dave', 'A', 10), ('Jane', 'B', 12), ('John', 'A', 15)]

[('Dave', 'A', 10), ('Jane', 'B', 12), ('John', 'A', 15)]

### 튜플의 불변성

: 튜플은 불변 자료형으로, 생성 후에는 요소 변경 불가능

In [ ]:
my_tuple = (1, 2, 3)
# 다음 코드는 오류를 발생시킵니다.
my_tuple[0] = 10  # TypeError: 'tuple' object does not support item assignment

# 요소 추가 시도
my_tuple += (4,)  # 새로운 튜플을 생성하여 my_tuple에 할당
print(my_tuple)   # 출력: (1, 2, 3, 4)

# 그러나 원본 튜플은 변경되지 않습니다.
original_tuple = (1, 2, 3)
new_tuple = original_tuple + (4,)
print(original_tuple)  # 출력: (1, 2, 3)
print(new_tuple)       # 출력: (1, 2, 3, 4)

</br>

### 실습 문제 1 : 튜플 언패킹 & 값 교환

1. 두 변수 `a`, `b`에 각각 정수를 입력받아 저장하세요.
2. 튜플 언패킹을 활용해 **a와 b의 값을 교환**한 뒤 출력하세요.

In [ ]:
a = int(input("입력 : "))
b = int(input("입력 : "))

print(a, b)
a, b = b, a

print(a, b)

10 20
20 10

</br>

### 실습 문제 2 : 과일 바구니 슬라이싱

```fruits = ("사과", "배", "포도", "딸기", "바나나", "귤", "망고")```

- 아래 조건에 맞게 슬라이싱을 사용하여 출력하세요.
    - 첫 번째부터 세 번째까지 과일
    - 뒤에서 3개 과일
    - 짝수 인덱스(0, 2, 4, …) 과일만 출력

In [ ]:
fruits = ("사과", "배", "포도", "딸기", "바나나", "귤", "망고")
print(fruits[0:3])
print(fruits[-3:])
print(fruits[::2])

('사과', '배', '포도')
('바나나', '귤', '망고')
('사과', '포도', '바나나', '망고')

</br></br>

## 딕셔너리 메서드 (Dictionary Methods)

### 딕셔너리 생성

In [ ]:
# 1. 중괄호 사용 생성
student = {
    'id': 12345,
    'name': 'John Doe',
    'grade': 'A'
}

# 2. dict() 함수 사용 생성
    # 2-1. 1인자 사용
car = dict(brand='Ford', model='Mustang', year=1964)
    # 2-2. 리스트/튜플 사용
items = [('apple', 2), ('banana', 3)]
fruit_dict = dict(items)

</br>

### 딕셔너리 요소 접근 및 변경

`get()` : 요소 접근

In [ ]:
person = {'name': 'Alice', 'age': 25, 'city': 'New York'}

# 키를 사용하여 값에 접근
print(person['name'])  # 출력: Alice
print(person['age'])   # 출력: 25

# `get()` 메서드를 사용하여 값(value)에 접근 (키가 없을 때 기본값 설정 가능)
print(person.get('city'))       # 출력: New York
print(person.get('country'))    # 출력: None
print(person.get('country', 'USA'))  # 출력: USA

Alice
25
New York
None
USA

```del, pop(), clear()``` : 요소 삭제

In [ ]:
# `del` 키워드를 사용하여 요소 삭제
del person['city']
print(person)  # 출력: {'name': 'Alice', 'age': 26, 'country': 'USA'}

# `pop()` 메서드를 사용하여 요소 삭제 및 값 반환
age = person.pop('age')
print(age)     # 출력: 26
print(person)  # 출력: {'name': 'Alice', 'country': 'USA'}

# 모든 요소 삭제
person.clear()
print(person)  # 출력: {}

{'name': 'Alice', 'age': 25}
25
{'name': 'Alice'}
{}

</br>

- ```keys()``` : 모든 키 반환

- ```values()``` : 모든 값 반환

- ```items()``` : 모든 키-값 쌍 반환

In [ ]:
person = {'name': 'Alice', 'age': 25, 'city': 'New York'}
keys = person.keys()
print(keys)  # 출력: dict_keys(['name', 'age', 'city'])

values = person.values()
print(values)  # 출력: dict_values(['Alice', 25, 'New York'])

items = person.items()
print(items)  # 출력: dict_items([('name', 'Alice'), ('age', 25), ('city', 'New York')])

dict_keys(['name', 'age', 'city'])
dict_values(['Alice', 25, 'New York'])
dict_items([('name', 'Alice'), ('age', 25), ('city', 'New York')])

</br>

### 딕셔너리의 반복문 활용

In [ ]:
# 키를 통한 반복
for key in person:
    print(key, person[key])

# keys() 메서드를 통한 반복
for key in person.keys():
    print(key)

# values() 메서드를 통한 반복
for value in person.values():
    print(value)

# items() 메서드를 통한 반복
for key, value in person.items():
    print(f'{key}: {value}')

name Alice
age 25
city New York
name
age
city
Alice
25
New York
name: Alice
age: 25
city: New York

</br>

### 딕셔너리 컴프리헨션
```new_dict = {key_expression: value_expression for item in iterable}```

In [ ]:
#1부터 5까지의 숫자를 키로 하고, 그 제곱을 값으로 하는 딕셔너리 생성
squares = {x: x**2 for x in range(1, 6)}
print(squares)  # 출력: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

#기존 딕셔너리에서 특정 조건에 맞는 요소만 필터링
original = {'apple': 2, 'banana': 3, 'cherry': 5, 'date': 4}
filtered = {k: v for k, v in original.items() if v % 2 == 0}
print(filtered)  # 출력: {'apple': 2, 'date': 4}

</br>

### sort( ) VS sorted( )

sort( ) : ```정렬할 대상.sort()```

sorted( ) : ```sorted(정렬할 대상, 정렬 기준, reverse=True/False)```

### **lambda**

- **무기명 함수** : 이름을 붙이지 않아도 되므로 즉석 전달에 편리함
- def 어쩌구... 저쩌구.. 로 길게 작성하지 않고 **간단하게 작성 가능**
- 따로 정의하기엔 **한번 쓰고 말꺼임**

-  `lambda x(input) : x를 이용한 식(output)`
  


### **map**

- 객체(원소들로 이뤄져잇음)에 한번에 함수 다 적용하겠다. (=모든원소에 다 함수 적용하겠다.)

</br>

### 실습 문제 1 : 심플 연락처 관리

In [ ]:
# 1. 먼저 빈 딕셔너리를 하나 만드세요.
phonebook = {}

# 2. input()을 사용하여 이름과 전화번호를 3명 입력받으세요.
for _ in range(3) : # 불필요한 변수는 언더바(_)로 표현 가능
    name = input("이름")
    num = input("전화번호")
    phonebook[name] = num

# 3. 모든 연락처를 한 줄씩 "홍길동:010-1234-5678" 형식으로 출력하세요.
for key, value in phonebook.items() : 
    print(f"{key}:{value}")
    
# 4. 마지막으로 삭제할 이름을 input()으로 한 번 더 입력받고, 해당 키를 pop()으로 삭제하세요.
del_name = input("삭제할 이름")
if del_name in phonebook :
    print("ori : ",phonebook)
    phonebook.pop(del_name)
    print("new : ",phonebook)
else :
    print("잘못된 입력입니다.")

가:111
나:222
다:333
ori :  {'가': '111', '나': '222', '다': '333'}
new :  {'가': '111', '다': '333'}

</br>

### 실습 문제 2 : 시험 점수 딕셔너리 분석

```scores = {"Alice": 88, "Bob": 95, "Charlie": 70, "Dave": 95, "Eve": 62}```

In [ ]:
scores = {"Alice": 88, "Bob": 95, "Charlie": 70, "Dave": 95, "Eve": 62}

# 1. 모든 학생의 평균 점수를 출력하세요.
avg = sum(scores.values()) / len(scores)
print("평균: ",avg)

# 2. 최고 점수를 받은 학생 이름과 점수를 모두 출력하세요. (동점 가능)
M = max(scores.values())

print("최고 점수 학생: ")
for name, score in scores.items():
    if score == M :
        print(f"{name}({score})")

# 3. 점수가 70점 이상이면 "Pass", 아니면 "Fail"을 저장하는 새 딕셔너리를 만들어 출력하세요.
#먼저 일반 for문으로 만든 뒤, 같은 내용을 딕셔너리 컴프리헨션으로 바꿔보세요.
pf = {}
for name, score in scores.items():
    if score >= 70 :
        pf[name] = 'Pass'
    else :
        pf[name] = 'Fail'

# 같은 내용을 딕셔너리 컴프리헨션으로 바꿔보세요.  
pf = {name: ('Pass' if score >= 70 else 'Fail') for name, score in scores.items()}

pf

평균:  82.0
최고 점수 학생:
Bob(95)
Dave(95)

{'Alice': 'Pass',
 'Bob': 'Pass',
 'Charlie': 'Pass',
 'Dave': 'Pass',
 'Eve': 'Fail'}

### 실습 문제 3 : 람다로 딕셔너리 정렬

In [ ]:
products = {
    "Keyboard": 49_000,
    "Monitor": 219_000,
    "Mouse": 25_000,
    "Speaker": 49_000,
    "Webcam": 89_000
}

# 1. `sorted()`와 **람다 함수**를 이용해 아래 조건으로 정렬하세요.
#    - 가격 기준 **내림차순**
#    - 가격이 같다면 **상품 이름 기준 오름차순**
# x = key,  product[x] = value
sorted(products, key = lambda x : (products[x],x), reverse=True)

# 정렬된 결과를 다시 딕셔너리로 변환해 sorted_products에 저장한 뒤 출력하세요.
sorted_products = dict(sorted(products.items(), key = lambda x : (x[1], x[0]), reverse=True))
sorted_products

{'Monitor': 219000,
 'Webcam': 89000,
 'Speaker': 49000,
 'Keyboard': 49000,
 'Mouse': 25000}