## 문제 1
문제: 정수를 입력받아 해당 정수의 제곱을 반환하는 함수 square_number(num)를 작성하세요.  
예: square_number(5)를 호출하면 25를 반환해야 합니다.

In [ ]:
def square_number(num) :
    square_num = num**2
    return square_num

square_number(int(input("입력 : ")))

25

## 문제 2
문제: 문자열을 인자로 받아, 그 문자열을 대문자로 변환한 후 반환하는 함수 to_uppercase(s)를 작성하세요.  
예:  
1. to_uppercase("hello") -> "HELLO"

In [6]:
def to_uppercase(s) :
    return (s.upper())

to_uppercase("hello")

'HELLO'

## 문제 3
문제: 리스트를 인자로 받아, 리스트 내 모든 숫자의 합을 반환하는 함수 sum_list(lst)를 작성하세요. 만약 리스트가 비어있다면 0을 반환하세요.  
예:  
1. sum_list([1, 2, 3]) -> 6
2. sum_list([]) -> 0

In [ ]:
# 내가 작성한 코드 <---- for문 돌릴 필요 없어! sum쓰면 끝.
def sum_list(lst) :
    sum = 0
    for i in lst :
        sum += i
    return print(sum)

# 튜터님이 작성한 코드
def sum_list2(lst):
    return sum(lst)

sum_list2([1, 2, 3])
sum_list2([])

6
0

## 문제 4
문제: 두 개의 숫자를 인자로 받아, 그 중 더 큰 값을 반환하는 함수 max_of_two(a, b)를 작성하세요.  
예:  
1. max_of_two(5, 10) -> 10
2. max_of_two(-3, -1) -> -1

In [12]:
def max_of_two(a, b) :
    if a>b : print(a)
    elif a<b : print(b)
    elif a==b : print("equal")

max_of_two(5, 10)
max_of_two(-3, -1)
max_of_two(-10, -10)

10
-1
equal

## 문제 5
문제: 정수를 인자로 받아, 1부터 그 정수까지의 곱(팩토리얼)을 계산하는 함수 factorial(n)을 작성하세요. n이 0이면 결과는 1입니다.  
예:  
1. factorial(5) -> 120 (54321)

In [ ]:
def factorial(n) :
    fac = 1
    for i in range(n,0,-1) : 
        fac = fac * i
    return(fac)   

def factorial2(n) :
    for i in range(1, n+1) : 
        num_multiply *= i
    return num_multiply
factorial(5)
#factorial(0)

1

## 문제 6
문제: 리스트를 인자로 받아, 그 리스트 내에 있는 모든 정수들의 평균을 반환하는 함수 average(lst)를 작성하세요. 리스트가 비어있을 경우 0을 반환하세요.  
예:  
1. average([10, 20, 30]) -> 20.0
2. average([]) -> 0

In [34]:
def average(lst) :
    sum = 0
    if len(lst) != 0:
        for i in lst :
            sum += i
        avg = sum/len(lst)
    else : avg = 0
    return avg

average([10, 20, 30])
average([])

0

## 문제 7
문제: 두 개의 정수 start, end를 인자로 받아, start부터 end까지(포함) 정수의 합을 반환하는 함수 sum_range(start, end)를 작성하세요.  
start가 end보다 클 경우, 두 값을 바꿔서라도 합을 계산해야 합니다.  
즉, sum_range(5, 3)도 3부터 5까지의 합인 3+4+5=12를 반환해야 합니다.  

예:  
1. sum_range(1, 3) -> 6(1+2+3)
2. sum_range(3, 1) -> 6(1+2+3)

In [ ]:
def sum_range(start, end) :
    sum = 0
    
    if end < start :
        start, end = end, start
    
    for i in range(start, end+1) :
        sum += i
    
    return sum

def sum_range2(start, end) : 
range(min(start, end), max(start, end)+1)

print("sum_range(nomal) : ",sum_range(1,3))
print("sum_range(reverse) : ",sum_range(3,1))

sum_range(nomal) :  6
sum_range(reverse) :  6