# 개요
- 참고 자료를 보셔도 좋지만, 코드 이해뿐만 아니라 데이터 전처리 처리에 대한 순서 / 법칙을 이해하면서 작성합시다!
- 코드에 대한 다양한 도전을 합시다 :) 
- 원본 데이터 : https://www.kaggle.com/datasets/rounakbanik/pokemon

문제를 풀기 전에, pokemon.csv 파일을 읽고, 데이터를 다양한 함수를 사용해서 살펴보세요!!! (.head(), .shape(), .info(), .value_counts() 등..)

In [1]:
import pandas as pd
pokemon = pd.read_csv('../data/pokemon2.csv')  # 경로는 환경에 맞게 조정

## 문제 1 : 단일 열 그룹화 - type1별 평균 공격력
type1 기준으로 그룹화하여 attack의 평균을 구하세요. (결과는 Series/한 컬럼 집계)

In [16]:
pokemon

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.50,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.50,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,['Beast Boost'],0.25,1.0,0.5,2.0,0.5,1.0,2.0,0.5,1.0,...,NaN,797,107,101,61,steel,flying,999.9,7,1
797,['Beast Boost'],1.00,1.0,0.5,0.5,0.5,2.0,4.0,1.0,1.0,...,NaN,798,59,31,109,grass,steel,0.1,7,1
798,['Beast Boost'],2.00,0.5,2.0,0.5,4.0,2.0,0.5,1.0,0.5,...,NaN,799,97,53,43,dark,dragon,888.0,7,1
799,['Prism Armor'],2.00,2.0,1.0,1.0,1.0,0.5,1.0,1.0,2.0,...,NaN,800,127,89,79,psychic,NaN,230.0,7,1
800,['Soul-Heart'],0.25,0.5,0.0,1.0,0.5,1.0,2.0,0.5,1.0,...,NaN,801,130,115,65,steel,fairy,80.5,7,1

In [17]:
pokemon.columns

Index(['abilities', 'against_bug', 'against_dark', 'against_dragon',
       'against_electric', 'against_fairy', 'against_fight', 'against_fire',
       'against_flying', 'against_ghost', 'against_grass', 'against_ground',
       'against_ice', 'against_normal', 'against_poison', 'against_psychic',
       'against_rock', 'against_steel', 'against_water', 'attack',
       'base_egg_steps', 'base_happiness', 'base_total', 'capture_rate',
       'classfication', 'defense', 'experience_growth', 'height_m', 'hp',
       'japanese_name', 'name', 'percentage_male', 'pokedex_number',
       'sp_attack', 'sp_defense', 'speed', 'type1', 'type2', 'weight_kg',
       'generation', 'is_legendary'],
      dtype='object')

In [12]:
pokemon.groupby('type1')['attack'].mean()

type1
bug          70.125000
dark         87.793103
dragon      106.407407
electric     70.820513
fairy        62.111111
fighting     99.178571
fire         81.500000
flying       66.666667
ghost        72.740741
grass        73.769231
ground       94.812500
ice          73.304348
normal       75.161905
poison       72.656250
psychic      65.566038
rock         90.666667
steel        93.083333
water        73.307018
Name: attack, dtype: float64

## 문제 2 : 다중 열 그룹화 - generation × is_legendary 조합별 개수
generation과 is_legendary 두 컬럼으로 그룹화하고, 각 그룹의 포켓몬 개수를 구한 뒤 count라는 이름의 컬럼으로 표 형태로 출력하세요.

In [20]:
# genration과 is_legendary -> count => 컬럼명count
result = pokemon.groupby(['generation', 'is_legendary'])['name'].count()
result.reset_index(name='count')

    generation  is_legendary  count
0            1             0    146
1            1             1      5
2            2             0     94
3            2             1      6
4            3             0    125
5            3             1     10
6            4             0     94
7            4             1     13
8            5             0    143
9            5             1     13
10           6             0     66
11           6             1      6
12           7             0     63
13           7             1     17

## 문제 3번 : 여러 집계 한 번에 - type1별 hp 평균 + attack 평균
type1별로 hp의 평균과 attack의 평균을 동시에 계산하세요. (컬럼별 다른 함수 지정: agg 딕셔너리)

In [21]:
# type1 -> hp , attack .mean
pokemon.groupby('type1').agg({
    'hp':'mean',
    'attack':'mean'
})

                 hp      attack
type1
bug       56.722222   70.125000
dark      72.551724   87.793103
dragon    79.851852  106.407407
electric  60.512821   70.820513
fairy     73.944444   62.111111
fighting  71.428571   99.178571
fire      68.730769   81.500000
flying    68.000000   66.666667
ghost     63.370370   72.740741
grass     65.358974   73.769231
ground    73.187500   94.812500
ice       72.086957   73.304348
normal    76.723810   75.161905
poison    65.593750   72.656250
psychic   72.943396   65.566038
rock      66.333333   90.666667
steel     66.791667   93.083333
water     70.219298   73.307018

## 문제 4번 : 문자열 기본: 대문자 변환 + 길이 구하기
name 컬럼을 모두 대문자로 바꾼 name_upper와, 이름 글자 수를 담은 name_len 컬럼을 추가하고, 상위 5개 행만 확인하세요.

In [27]:
name_upper = pokemon['name'].str.upper()
name_len = pokemon['name'].str.len()

pokemon['name_upper'] = name_upper
pokemon['name_len'] = name_len

pokemon.head()

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary,name_upper,name_len
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,65,65,45,grass,poison,6.9,1,0,BULBASAUR,9
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,80,80,60,grass,poison,13.0,1,0,IVYSAUR,7
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,122,120,80,grass,poison,100.0,1,0,VENUSAUR,8
3,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,60,50,65,fire,NaN,8.5,1,0,CHARMANDER,10
4,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,80,65,80,fire,NaN,19.0,1,0,CHARMELEON,10

## 문제 5번 : 날짜 기본: 문자열 → 날짜 변환 & 연도/요일 추출
아래 날짜 문자열 리스트를 Series로 만들고 pd.to_datetime으로 변환한 뒤, 연도(year)와 요일(day_name)을 각각 출력하세요.

In [30]:
dates_str = ['1996-02-27', '1999-11-21', '2002-11-21']
dates_str

['1996-02-27', '1999-11-21', '2002-11-21']

In [39]:
# 1. 날짜 문자열 리스트를 Series로 만들기
dates_str = pd.Series(dates_str)
dates_str

# 2. pd.to_datetime으로 변환
dates_datetime = pd.to_datetime(dates_str,format='%Y-%m-%d')
dates_datetime

# 3. 연도(year)와 요일(day_name)을 각각 출력
dates_datetime.dt.year.tolist()
dates_datetime.dt.day_name().tolist()

['Tuesday', 'Sunday', 'Thursday']

## 문제 6번 : map으로 쉬운 값 치환 - 전설 여부 라벨 만들기
is_legendary가 1이면 "Legendary", 0이면 "Normal"을 부여한 새 컬럼 legendary_label을 만드세요.

In [37]:
pokemon['legebdary_label']= pokemon['is_legendary'].map({1:'Legendary', 0:'Nomal'})
pokemon

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary,name_upper,name_len,legebdary_label
0,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,65,45,grass,poison,6.9,1,0,BULBASAUR,9,Nomal
1,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,80,60,grass,poison,13.0,1,0,IVYSAUR,7,Nomal
2,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,120,80,grass,poison,100.0,1,0,VENUSAUR,8,Nomal
3,"['Blaze', 'Solar Power']",0.50,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,50,65,fire,NaN,8.5,1,0,CHARMANDER,10,Nomal
4,"['Blaze', 'Solar Power']",0.50,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,65,80,fire,NaN,19.0,1,0,CHARMELEON,10,Nomal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,['Beast Boost'],0.25,1.0,0.5,2.0,0.5,1.0,2.0,0.5,1.0,...,101,61,steel,flying,999.9,7,1,CELESTEELA,10,Legendary
797,['Beast Boost'],1.00,1.0,0.5,0.5,0.5,2.0,4.0,1.0,1.0,...,31,109,grass,steel,0.1,7,1,KARTANA,7,Legendary
798,['Beast Boost'],2.00,0.5,2.0,0.5,4.0,2.0,0.5,1.0,0.5,...,53,43,dark,dragon,888.0,7,1,GUZZLORD,8,Legendary
799,['Prism Armor'],2.00,2.0,1.0,1.0,1.0,0.5,1.0,1.0,2.0,...,89,79,psychic,NaN,230.0,7,1,NECROZMA,8,Legendary
800,['Soul-Heart'],0.25,0.5,0.0,1.0,0.5,1.0,2.0,0.5,1.0,...,115,65,steel,fairy,80.5,7,1,MAGEARNA,8,Legendary

## 문제 7번 : concat 기초 - Fire와 Water 묶어 세로로 붙이기
type1 == 'Fire'인 포켓몬의 name, type1만 담은 fire_df와 </br>
type1 == 'Water'인 포켓몬의 name, type1만 담은 water_df를 만든 뒤,</br> 두 DataFrame을 세로 방향으로 이어붙여(ignore_index=True) fw_concat을 만들고 상위 8행을 확인하세요.

In [40]:
# DataFrame.loc[행 조건(또는 인덱스), 열 선택]


# 1. (type1 == 'Fire') -> name, type1 => fire_df
fire_df = pokemon.loc[pokemon['type1'] == 'fire', ['name', 'type1']]

# 2. (type1 == 'Water') -> name, type1 => Water_df
water_df = pokemon.loc[pokemon['type1'] == 'water', ['name', 'type1']]

# 3. 두 DataFrame을 세로 방향으로 이어붙여(ignore_index=True) => fw_concat
fw_concat = pd.concat([fire_df, water_df], axis=0, ignore_index=True)

# 4. 상위 8행 출력
fw_concat.head(8)

         name type1
0  Charmander  fire
1  Charmeleon  fire
2   Charizard  fire
3      Vulpix  fire
4   Ninetales  fire
5   Growlithe  fire
6    Arcanine  fire
7      Ponyta  fire

## 문제 8번 : generation 라벨 붙이기 (Left Merge)
아래의 작은 매핑 테이블 gen_info를 직접 만들고, pokemon과 generation 컬럼을 기준으로 left merge 하여 gen_name 컬럼을 붙이세요. 결과의 상위 5행을 출력하세요.

매핑은 다음과 같이 사용하세요:  
1 → "Gen I"  
2 → "Gen II"  
3 → "Gen III"  
4 → "Gen IV"  
5 → "Gen V"  
6 → "Gen VI"  
7 → "Gen VII"

In [42]:
# 1. 매핑 테이블 gen_info 생성
gen_info = pd.DataFrame({
    'generation' : [1,2,3,4,5,6,7],
    'gen' : ["Gen I", "Gen II" ,"Gen III" ,"Gen IV", "Gen V", "Gen VI", "Gen VII"]
})
gen_info

# 2. pokemon과 generation 컬럼을 기준으로 left merge => gen_name 컬럼을 붙이세요. 
gen_name = pokemon.merge(gen_info, on='generation', how='left')

# 3. 상위 5행을 출력
gen_name.head()

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,speed,type1,type2,weight_kg,generation,is_legendary,name_upper,name_len,legebdary_label,gen
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,45,grass,poison,6.9,1,0,BULBASAUR,9,Nomal,Gen I
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,60,grass,poison,13.0,1,0,IVYSAUR,7,Nomal,Gen I
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,80,grass,poison,100.0,1,0,VENUSAUR,8,Nomal,Gen I
3,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,65,fire,NaN,8.5,1,0,CHARMANDER,10,Nomal,Gen I
4,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,80,fire,NaN,19.0,1,0,CHARMELEON,10,Nomal,Gen I

## 문제 9번 : 전처리 결과 저장
지금까지 만든 가공 결과(예: pokemon_with_gen)를 CSV로 저장하세요. 파일명은 pokemon_processed.csv, 인덱스 제외.

In [ ]:
gen_name.to_csv('pokemon_processed.csv', index=False)